

.aside-right{

}

.aside-right__titulo-form{
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.2px;
  color: #494F66;
  margin-bottom: 2rem;
}

.form-check-input:checked {
  background-color: #43B748;
  border-color: #43B748;
}

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 78vh;
}

.form {
  width: 480px;
}